.navbar {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.1rem;
}
.navbar-dark .navbar-nav .nav-link {
    color: white;
    padding-left: 2px;
}
.navbar-dark .navbar-nav .nav-link:hover{
    color: rgb(203, 248, 4);
}
.card {
    display: flex;
    align-items: center;
    justify-content: center;
}
.fab.fa-linkedin.btn:hover{
    color: rgb(33, 101, 248);
}
.fab.fa-github.btn:hover{
    color: rgb(137, 52, 221);
}
.far.fa-envelope.btn.btn:hover {
    color: rgb(57, 137, 241);


    
}