.navbar {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.1rem;
}
.navbar-dark .navbar-nav .nav-link {
    color: white;
    padding-left: 2px;
}
.navbar-dark .navbar-nav .nav-link:hover{
    color: rgb(203, 248, 4);
}
.card {
    display: flex;
    align-items: center;
    justify-content: center;
}